
/* NAVIGATION BAR */

nav {

  display: flex;
  padding-top: 10px;
  /* background-color: rgb(32, 31, 31); */
  background-color: rgba(0, 0, 0, 0.547);
}

.logo img {
  height: 50px;
  width: 50px;
  padding: 8px;
  margin-left: 30px;
/* border-radius: 20px; */
clip-path: circle(38.5%);
}

.navbar ul li a {
  text-decoration: none;
  margin: 15px 50px;
  padding: 13px 60px;
  color: white;
  background-color: #16d1b8;
  border-radius: 500px;
  font-family: 'REM', sans-serif;

}


.navbar ul li a:hover {
  /* background-color: rgba(255, 255, 255, 0.616); */
  color: #16d1b8;
  border-radius: 90px;
  background-color: transparent;

}

.navbar ul {
  display: flex;
  padding: 10px 90px;
}

.navbar ul li {
  list-style: none;
}






/* HOME PAGE */

.section1 {
    color: white;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.section1 h1 {
    font-size: 50px;
    text-transform: uppercase;
    /* text-shadow: 0px 0px 10px black, 0px 0px 30px black, 0px 0px 5px black, 0px 0px 5px black , 0px 0px 5px blue; */
    text-align: left;
    /* font-family: 'Nanum Myeongjo', serif; */
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Passion One', cursive;
    padding-left: 30px;
}

.section1 h1 span{
  color: #16d1b8;
}
.section1 p {
    
    color: white;
    line-height: 1.4;
    word-spacing:5 ;
    padding-left: 40px;
    padding-right: 400px;



}

.bgbg{
  color: #16d1b8;
}

.section1 div {
    padding-bottom: 15px;
}



.section1 .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    background: url("./photo-1441015401724-70d16b783f5c\ \(1\).jpg") no-repeat center center/cover;
    left: 0;
    right: 0;
    opacity: 1;
    width: 100%;
    height: 700px;
}





.home-contact{
  padding-top: 8px;
  padding-left: 45px;
  display: flex;
}


.home-contact .icon{
  color: #16d1b8;
  padding: 9px 13px;
  margin: 0px 9px;
  border-radius: 50%;
 border: 1px solid #16d1b8;

}

.icon:hover{
  cursor: pointer;
  background-color: #16d1b8;
  color: black;
  box-shadow: 0px 0px 5px #16d1b8;

}



















/* SERVICES PAGE */

 /* #services-container{
    background: linear-gradient(45deg,#d2001a,#7462ff,#23d5ab);
    background-size: 300% 300% ;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0%{
    background-position: 0 50%;
    }
    50%{
    background-position: 100% 50%;
    }
    100%{
    background-position: 0 50%;
    }
    } */

/* #services-container .bg{
  background: url("./assets/istockphoto-1189142091-612x612.jpg") no-repeat;
  height: 100%;
  width: 100%;
} */
.section2 .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  background: url("./marvin-meyer-SYTO3xs06fU-unsplash.jpg") no-repeat center center/cover;
  left: 0;
  right: 0;
  /* opacity: 1; */
  filter: brightness(75%);
  width: 100%;
  height: 950px;
}

.section2 h1{
  color: white;
padding-top: 50px;
text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

.h-primary span{
  color: #16d1b8;
}

    #services {
        margin: 30px;
        display: flex;
      }
      #services .box {
        border: 2px solid #16d1b8;
        padding: 15px;
        margin: 2px 55px;
        color: white;
        border-radius: 28px;
        background: #0000009a;
        margin-bottom: 20px;
      }

      #services .box img {
        color: white;
        height: 160px; 
        margin: auto;
        display: block;
      }

      #services .box p {
        font-family: "Bree Serif", serif;
      }

      .h-primary {
        font-family: "Bree Serif", serif;
        font-size: 3rem;
        padding: 5px;
      }

      .h-secondary {
        font-family: "Bree Serif", serif;
        font-size: 2.3rem;
        padding: 12px;
      }

      .center {
        text-align: center;
      }


      /* CONTACT US PAGE */

      .section3 .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        background: url("./akin-cakiner-nkUFXi0JSX8-unsplash.jpg") no-repeat center center/cover;
        left: 0;
        right: 0;
        /* opacity: 1; */
        filter: brightness(75%);
        width: 100%;
        height: 1100px;
      }

      .body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: px 30px;
        font-size: 17px;
        padding: 8px;
      }

    

      /* 1 */
      
      .contact-us {
        /* border: 1px solid lightgray; */
        text-align: center;

        border-radius: 4px;

        height: 100%;
        width: 100%;
        /* background: linear-gradient(
          90deg,
          rgb(133, 48, 230),
          rgb(214, 10, 109)
        ); */
        
      }

      .contact-us h1{
        /* text-align: center;
        font-size: xx-large; */
        color: #16d1b8;/
        
        /* text-shadow: 0px 0px 10px white, 0px 0px 10px white; */
      }

      .contact-us h3{
        /* font-family: "Bree Serif", serif; */
        font-family: 'Lisu Bosa', serif;
        color: white;
      }


      

      /* 2 */
      .feedback-form {
        background-color: #f2f2f2;
        padding: 5px 20px 10px 15px;
        margin: 0px 30px;
        border: 1px solid lightgray;
        border-radius: 4px;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 95%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      fieldset {
        background-color: #fff;
        border: 1px solid #ccc;
      }

      .main_heading {
        text-align: center;
      }

      input[type="submit"] {
        background-color: #4daea1;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
     







      .rating {
        
        width: 208px;
        height: 40px;
        /* margin: 0 auto; */
        padding: 40px 50px;
        /* border: 1px solid #ccc;
        background: #f9f9f9; */
   }
    .rating label {
        float: right;
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
   }
    .rating label:not(:first-of-type) {
        padding-right: 2px;
   }
    .rating label:before {
        content: "\2605";
        font-size: 42px;
        color: #ccc;
        line-height: 1;
   }
    .rating input {
        display: none;
   }
    .rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
        color: #f9df4a;
   }
