@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lisu+Bosa&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@300&display=swap');

.theme{
  color: #16d1b8;
}
/* NAVIGATION BAR */

nav {
/* position: fixed; */
  display: flex;
  padding-top: 10px;
  /* background-color: rgb(32, 31, 31); */
  background-color: rgba(0, 0, 0, 0.547);
}

.logo img {
  height: 50px;
  width: 50px;
  padding: 8px;
  margin-left: 30px;
/* border-radius: 20px; */
clip-path: circle(38.5%);
}

.navbar ul li a {
  text-decoration: none;
  margin: 15px 50px;
  padding: 13px 60px;
  color: white;
  background-color: #16d1b8;
  border-radius: 500px;
  font-family: 'REM', sans-serif;

}


.navbar ul li a:hover {
  /* background-color: rgba(255, 255, 255, 0.616); */
  color: #16d1b8;
  border-radius: 90px;
  background-color: transparent;

}

.navbar ul {
  display: flex;
  padding: 10px 90px;
}

.navbar ul li {
  list-style: none;
}






/* HOME PAGE */

.section1 {
    color: white;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.section1 h1 {
    font-size: 50px;
    text-transform: uppercase;
    /* text-shadow: 0px 0px 10px black, 0px 0px 30px black, 0px 0px 5px black, 0px 0px 5px black , 0px 0px 5px blue; */
    text-align: left;
    /* font-family: 'Nanum Myeongjo', serif; */
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Passion One', cursive;
    padding-left: 30px;
}


.section1 p {
    
    color: white;
    line-height: 1.4;
    word-spacing:5 ;
    padding-left: 40px;
    padding-right: 400px;



}



.section1 div {
    padding-bottom: 15px;
}



.section1 .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    background: url("./photo-1441015401724-70d16b783f5c\ \(1\).jpg") no-repeat center center/cover;
    left: 0;
    right: 0;
    opacity: 1;
    width: 100%;
    height: 580px;
}





.home-contact{
  padding-top: 8px;
  padding-left: 45px;
  display: flex;
}


.home-contact .icon{
  color: #16d1b8;
  padding: 9px 13px;
  margin: 0px 9px;
  border-radius: 50%;
 border: 1px solid #16d1b8;

}

.icon:hover{
  cursor: pointer;
  background-color: #16d1b8;
  color: black;
  box-shadow: 0px 0px 5px #16d1b8;


}


/* costomre review */
.section{
  
    background: url("./swiper6.jpg") no-repeat center center/cover;
    width: 100%;
    height: 550px;
    margin-top: 20px;
    
  
}




.swiper-h{
  padding-top: 30px;
  padding-left: 30px;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 30px;
  font-family: "Bree Serif", serif;
  text-shadow: 2px 2px 10px black;
  text-decoration: underline;
  

}

.swiper {
  width: 100%;
  height: 100%;
  /* margin-top: 9rem; */
    /* margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px; */
    /* padding: 100px; */
}

.padding{
  -webkit-padding-start: 100px;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
display: flex;
flex-direction: column;
/* padding: 50px; */
/* margin: 50px; */


}




.first-ele{
  color: white;
  /* background-color: rgb(86, 86, 86); */
  background-color: #474747;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.637);
  margin: 30px 50px;
}
.first-ele p{
  padding: 50px 20px;
  margin: 0px 20px;
}

.first-ele p::before{
  content: "\f10d";
  position: absolute;
  top: 4rem;
  left: 4rem;
  font-size: 30px;
  color: #ccc;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.first-ele p::after{
  content: "\f10e";
  position: absolute;
  bottom: 26rem;

  right: 4.5rem;
  /* left: 10px; */
  
  font-size: 30px;
  color: #ccc;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.second-ele{
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-bottom: 0px;
}

.second-ele img{
  height: 70px;
  width: 70px;
  margin-top: 15px;
  margin-left: 150px;
  /* margin-right: 100px; */
  border-radius: 50%;
  
}

.second-ele-child{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  
}

.second-ele-child pre{
  font-family: 'Dai Banna SIL', serif;
}









/* SERVICES PAGE */

 /* #services-container{
    background: linear-gradient(45deg,#d2001a,#7462ff,#23d5ab);
    background-size: 300% 300% ;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0%{
    background-position: 0 50%;
    }
    50%{
    background-position: 100% 50%;
    }
    100%{
    background-position: 0 50%;
    }
    } */

/* #services-container .bg{
  background: url("./assets/istockphoto-1189142091-612x612.jpg") no-repeat;
  height: 100%;
  width: 100%;
} */
.section2 .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  background: url("./marvin-meyer-SYTO3xs06fU-unsplash.jpg") no-repeat center center/cover;
  left: 0;
  right: 0;
  /* opacity: 1; */
  filter: brightness(75%);
  width: 100%;
  height: 950px;
}

.section2 h1{
  color: white;
padding-top: 50px;
text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}



    #services {
        margin: 30px;
        display: flex;
      }
      #services .box {
        border: 2px solid #16d1b8;
        padding: 15px;
        margin: 2px 55px;
        color: white;
        border-radius: 28px;
        background: #0000009a;
        margin-bottom: 20px;
      }

      #services .box img {
        color: white;
        height: 160px; 
        margin: auto;
        display: block;
      }

      #services .box p {
        font-family: "Bree Serif", serif;
      }

      .h-primary {
        font-family: "Bree Serif", serif;
        font-size: 3rem;
        padding: 5px;
      }

      .h-secondary {
        font-family: "Bree Serif", serif;
        font-size: 2.3rem;
        padding: 12px;
      }

      .center {
        text-align: center;
      }


      /* CONTACT US PAGE */

      .section3 .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        background: url("./akin-cakiner-nkUFXi0JSX8-unsplash.jpg") no-repeat center center/cover;
        left: 0;
        right: 0;
        /* opacity: 1; */
        filter: brightness(75%);
        width: 100%;
        height: 1100px;
      }

      .body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: px 30px;
        font-size: 17px;
        padding: 8px;
      }

    

      /* 1 */
      
      .contact-us {
        /* border: 1px solid lightgray; */
        text-align: center;

        border-radius: 4px;

        height: 100%;
        width: 100%;
        /* background: linear-gradient(
          90deg,
          rgb(133, 48, 230),
          rgb(214, 10, 109)
        ); */
        
      }

     

      .contact-us h3{
        /* font-family: "Bree Serif", serif; */
        font-family: 'Lisu Bosa', serif;
        color: white;
      }


      

      /* 2 */
      .feedback-form {
        background-color: #f2f2f2;
        padding: 5px 20px 10px 15px;
        margin: 0px 30px;
        border: 1px solid lightgray;
        border-radius: 4px;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 95%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      fieldset {
        background-color: #fff;
        border: 1px solid #ccc;
      }

      .main_heading {
        text-align: center;
      }

      input[type="submit"] {
        background-color: #4daea1;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
     







      .rating {
        
        width: 208px;
        height: 40px;
        /* margin: 0 auto; */
        padding: 40px 50px;
        /* border: 1px solid #ccc;
        background: #f9f9f9; */
   }
    .rating label {
        float: right;
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
   }
    .rating label:not(:first-of-type) {
        padding-right: 2px;
   }
    .rating label:before {
        content: "\2605";
        font-size: 42px;
        color: #ccc;
        line-height: 1;
   }
    .rating input {
        display: none;
   }
    .rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
        color: #f9df4a;
   }








  /* PRODUCTS */



.searchbar{
 
  display: block;
  margin: auto;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin: 0px 200px;
  font-size: 17px;
}














.section4{
  /* margin: 8px; */
  padding: 15px;
  /* background-color: rgb(28, 28, 28); */
 

}
  .container2{
    margin: 8px;
    padding: 35px;
  /* background-color: #fff; */
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  }

.product{
  background-color: rgb(39, 39, 39);
  padding-top: 5px; 
  padding-bottom: 5px ;
  padding-left: 17px;
  padding-right: 17px;
  margin: 20px;
/* border: 1px solid  gray; */
border-radius: 15px;
box-shadow:  3px 3px 4px #16d1b8;

}


.product:hover{
      border: none;
    background-color: rgba(128, 128, 128, 0.589);
}




.prdct-img{
display: block;
margin: auto;
  height: 100px;
  width: 100px;
}

.h-products{
  font-family: 'Crimson Text', serif;
  margin: 3px;
  margin-top: 15px;
  font-size: 1.2rem;
  padding: 7px;
}

#more {
  display: none;

}
.section4 h3, .section4 p{
  color: white;
}

.section4{
display: block;
margin: 0;

  background: url("./productbg2.jpeg");
  background-repeat: repeat-y;
 
}

.body4{
  margin: 0px;
}





